<h1 class="header"><%= render partial: "shared/header" %></h1>
<br>

<p id="sign_in_benefits">You are signed in, you can now create, edit or delete your links; you can also change link's privacy setting.</p>

<div class="product_intro">
  <%= render partial: "shared/product_description", locals: { link: @link } %>
</div>

<div class="listings">
<table class="main_table", cellspacing="30">
  <thead>
    <tr>
      <th>Added</th>
      <th>SlimLink</th>
      <th>Nickname</th>
      <th>Creator</th>
      <th>Clicks</th>
      <th>Visible by others?</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <% next if link.private && link.user != @current_user %>
      <tr>
        <td><%= time_ago_in_words(link.created_at) %> ago</td>
        <td><%= link_to(link_url(link), link) %></td>
        <td><%= link.nickname %></td>
        <td><%= user_display_name(link.user) %></td>
        <td><%= link.clicks_count %></td>
        <td>
          <% if link.editable_by?(@current_user) %>
              <%= button_to("#{link_visibility(link)}", patch_link_path(link), 
              :method => :patch, :params => { "link[private]" => "#{privacy_switch(link)}" }) %>
          <% end %>
        </td>
        <td>
          <% if link.editable_by?(@current_user) %>
            <ul class="link-actions">
              <li><%= link_to("Edit", edit_link_path(link)) %></li>
              <li><%= button_to("Delete", delete_link_path(link), :method => :delete) %></li>
            </ul> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if flash[:notice] %>
  <div id="notice">
    <strong><%= flash[:notice] %></strong>
  </div>
<% end %>
</div>
<%= render partial: "shared/footer" %>
