<h2>How does it work?</h2>
<%= form_for(link) do |f| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited thislink from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Enter a REALLY LONG URL here" %><br>
    <%= f.text_field :url, :class => "url_box" %>
  </div>

  <div class="field">
    <%= f.label :"Give it a nickname" %><br>
    <%= f.text_field :nickname, :class => "url_box" %>
  </div>
  <div class="actions">
    <%= f.submit "Shorten it!", :class => "button" %>
  </div>
<% end %>
Your shortened SlimLink should be added to top of the list below:
