<h1> Welcome to URL-Shortener, make long url address into short url address! </h1>
<br>
<h1>Please login to see links submitted by yourslef</h1>
<br>
<form method="POST" action="/sessions/new">
  Log in with email:<input type="text" name="user[email]" placeholder="email">
  Password:<input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="login" style="width:100px">
</form>
<br>
<h1>Or register</h1>
<br>
<form method="POST" action="/users/new">
  Register with email:<input type="text" name="user[email]" value="">
  Password:<input type="password"  name="user[password]" placeholder="password">
  <input type="submit" value="register" style="width:100px">
</form>

<br>
  <% if flash[:notice] %>
  <div id="notice">
    <h1><%= flash[:notice] %></h1>
  </div>
  <% end %>
<br>

<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Added</th>
      <th>Short URL</th>
      <th>URL</th>
      <th>clicks</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= time_ago_in_words(link.created_at) %> ago</td>
        <td><%= link_url(link) %></td>
        <td><%= link.url %></td>
        <td><%= link.clicks_count %></td>
        <td><%= link_to 'Visit link', link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
